autopep8==1.4.3
certifi==2019.3.9
chardet==3.0.4
config==0.3.9
confusable-homoglyphs==3.2.0
dj-database-url==0.5.0
Django==1.11
django-bootstrap3==11.0.0
django-crispy-forms==1.7.2
django-csvimport==2.11
django-decouple==2.1
django-forms-bootstrap==3.1.0
django-heroku==0.3.1
django-registration==2.4.1
django-tinymce==2.8.0
gunicorn==19.9.0
idna==2.8
Pillow==8.2.0
psycopg2==2.7.7
pycodestyle==2.5.0
pyperclip==1.7.0
python-dateutil==2.8.0
python-decouple==3.1
pytz==2018.9
pyuploadcare==2.6.0
requests==2.21.0
six==1.12.0
urllib3==1.24.1
whitenoise==3.3.1
