{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<body id="bg" style="background-image: url('{STATIC_URL }}images/avatar.png');">
<div class="container">
    <div class="col-md-6">
      <img src="https://img.icons8.com/cotton/64/000000/instagram-new.png" alt="Phone images" style="height:700px;width:500px; padding-top:25px;">
    </div>
  <div class=" col-md-6">
    <!-- Empty div -->
   
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="section">
          <h3 class="w3-left w3-padding" style="font-family: 'Josefin Sans', sans-serif; font-size:45px; padding-bottom:25px;color: #875EA7;">Instaclone</h3>
            <div class="form-section">
        <div class="panel-body">

          <form  action="/accounts/login/" method="post" style="padding-top:35px;">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="button" value="Login">
            </div>
            <h5> Don't have an account ? <a href="/accounts/register"> Sign up here</a></h5>
            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>
</body>
{% endblock %}